@import '../../vars';

.project-card{
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  border-width: 5px 5px 50px 5px;
  border-style: solid;
  border-color: $light-color-elements;
  border-radius: 3px;
  margin:10px;
  &__image{
    width:100%;
    height: 100%;
    object-fit: cover;
  }
  &__info,
  &__icon-circle,
  &__name{
    position: absolute;
    font-family: $plain-text-font-roboto-slab;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color:$header-color-dark;
  }
  &__name{
    bottom:-40px;
    z-index: 7;
  }
  &__icon{
    width:40px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
  }
  &__icon-circle{
    width:40px;
    height:40px;
    background-color: $light-color-elements;
    bottom: -20px;
    border-radius: 50px;
    z-index: 6;
  }

}
.project-card__info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  height: 100%;
  visibility: hidden;
  transition-duration: 0.3s;
  line-height: 1.2;
  color:$text-color-light;
  font-family:$section-subheader-font-oswald;
  &>*{
    transition-duration: 0.2s;
    text-align: center;
  }
}
.project-card:hover .project-card__info{
  visibility: visible;
  background-color: rgba(0,0,0,0.9);
}
