@font-face {
  font-family: 'Bazar';
  src: url('../../fonts/Bazar.ttf') format('truetype');
}

@import '../../vars';
@import '../../global';
 
.header__container{
  flex-direction: row;
  position: relative;
}
.header {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:8vw;
  min-height: 80px;
  z-index: 10;
  &__list {
    display: flex;
    height: 100%;
    align-items: center;
    &>li{
      height: 100%;
    }
    & a {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 1vw;
      font-family: $subheaders-font-bazar;
      color: $text-color-light;
      text-transform: uppercase;
      margin: 0 2vw;
      white-space: nowrap;
      font-size: 3vmin;
      
    }
  }
  & .logo{
    top:22%;
    z-index: 11;
  }
  &__line_dashed{
    bottom: 15px;
    z-index: -1;
  }
}
.header-dark{
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/header.png');
  & a{
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.2);
    &:hover{
      background-color: $text-color-dark;
    }
  }
}
.header-light{
  background-image: url('../../images/header.png');
  & a{
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    &:hover{
      background-color: $text-color-dark;
    }
  }
}