
$headers-font-seaside:'SeasideResortNF', sans-serif;
$subheaders-font-bazar:'Bazar', sans-serif;
$plain-text-font-roboto-slab:'Roboto Slab', serif;
$section-subheader-font-oswald:'Oswald', sans-serif;

$text-color-dark:#4e5052;
$text-color-light:#F9EBD9;
$light-color-elements:#fbfaf6;
$header-color-dark:#3a3a3a;

